<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Food App</title>
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <span class="navbar-brand">Food App</span>
    <span class="navbar-brand" th:text="${name}"></span>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/restaurant/{name}/menu(name=${name})}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/restaurant/{name}/orders (name=${name})}">Order History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/restaurant/{name}/delivery (name=${name})}">Delivery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
        <h2>Successful created new meal!</h2>
    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <a th:href="@{/restaurant/{name}/menu (name=${name})}" class="btn btn-primary" role="button">Go back to the menu</a>
            </div>
        </div>
    </div>
</body>

</html>